= form_for post do |f|
	= render 'partials/error_messages', object: post
	.form-group
		= f.label :description, {for: 'inputDescription'}
		= f.text_area :description, {type: 'text', class: 'form-control', id: 'inputDescription'}
	= f.submit :submit, class: 'btn btn-primary btn-lg'
	= link_to 'Back', link_path, { class: 'btn btn-primary btn-lg', role: 'buttons'}