= form_for post do |f|
	= render 'partials/error_messages', object: post
	.form-group
		= f.label :description, {for: 'inputDescription'}
		= f.text_area :description, {type: 'text', class: 'form-control', id: 'inputDescription'}
	.form-group
		= f.label :stars, {for: 'inputStars'}
		= f.number_field :stars, {type: 'number', class: 'form-control',id: 'inputStars'}
	= f.submit :submit, class: 'btn btn-primary btn-lg'
	= render 'partials/links'