.container
  =# render 'card', post: @post
  .row 
    .col-md-4
      - current_forecast = @post.location.current_forecast
      .map.d-flex.align-items-center{style: "background-image: url(#{@post.location.google_map})"}
        = image_tag "down-arrow.png", class: 'wind-arrow', style: "transform: rotate(#{current_forecast["windDirection"].first["value"]}deg)"
        = image_tag "down-cursor.png", class: 'wave-arrow', style: "transform: rotate(#{current_forecast["waveDirection"].first["value"]}deg)"
    .col-md-8
  .row.mt-5
    .col-md-2
      = image_tag @post.picture.url.to_s, class: 'img-fluid', alt: 'Responsive image'
  
      // %p.card-title #{@post.location.name} in #{@post.city} 
      // %p.card-text #{@post.location.current_forecast["waveHeight"].first["value"]} mt. Waves
      // %p.card-text posted #{distance_of_time_in_words(server_date, @post.utc_date)} ago #{@post.description}

  -# if @post.owner?(current_user)
    = link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary btn-lg'
  =# link_to 'Back', :back, class: 'btn btn-primary btn-lg'
  =# link_to 'All Pictures', posts_path, class: 'btn btn-primary btn-lg'
