- location = @post.location
- forecast = location.forecast
= tag :meta, id: "forecast-data", name: "forecast_data", data: { tidechart: location.forecast_tide, tidedata: location.tide_data, daily: location.forecast_daily } unless forecast.current.nil?

.container
  %h3 CURRENT SURF REPORT FOR #{location.name.upcase}
  .d-flex.flex-column.flex-md-row.flex-ld-row.justify-content-between
    .map.d-none.d-sm-none.d-md-block.d-flex.align-items-center{style: "background-image: url(#{location.google_map})"}
      = image_tag "down-arrow.png", class: 'arrow wind-arrow', style: "transform: rotate(#{forecast.windDirection}deg)"
      = image_tag "down-cursor.png", class: 'arrow wave-arrow', style: "transform: rotate(#{forecast.waveDirection}deg)"
    .forecast.d-flex.flex-column.ml-2
      .d-flex.flex-row.justify-content-between.align-items-center 
        %h3.mr-3 #{forecast.waveAverage} mt. waves at #{forecast.swellPeriod} s.
        = image_tag "down-cursor-black.png", class: "arrow-small", style: "transform: rotate(#{forecast.waveDirection}deg)"
      .d-flex.flex-row.justify-content-between.align-items-center
        %h3.mr-3 #{forecast.windSpeed} mt/s wind
        = image_tag "down-arrow-black.png", class: "arrow-small", style: "transform: rotate(#{forecast.windDirection}deg)"
      .d-flex.flex-row.justify-content-between.align-items-center 
        %h3.mr-3 #{forecast.swellHeight} mt. swell
        = image_tag "down-cursor-black.png", class: "arrow-small", style: "transform: rotate(#{forecast.swellDirection}deg)"
      .d-flex.flex-column.ml-2
        %table.table.table-sm.table-borderless.table-dark.table-hover.mt-3
          %tr
            %td direction
            %td #{location.direction}
          %tr
            %td experience 
            %td #{location.experience}
          %tr
            %td bottom
            %td #{location.bottom}
          %tr
            %td wave quality
            %td #{location.wave_quality}
    .d-flex.flex-column.ml-2
      %canvas{id: "tideChart", height: 70}
      %table.table.table-dark#tideTable
  .row
    .col-12.col-md-6.mt-2
      %canvas{id: "waveChart"}
    .col-md-6
      - location.posts.each do |post|
        = image_tag post.picture.card.url.to_s, class: 'surf-image img-fluid', alt: 'Responsive image'

  .mt-4
    = link_to 'Back', :back, class: 'btn btn-primary btn-lg'
    = link_to 'All Pictures', posts_path, class: 'btn btn-primary btn-lg'
