<!DOCTYPE html>
<html>
  <head>
    <title>Surfcheck</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <meta name="description" content="SurfCheck is an app that allows you to see the surf at different times of the day from different point of view. It is aimed to get the best information about the surf quality at a certain time." />

	<title>surfcheck</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'partials/navbar' unless navbar? %>
    <%= render partial: "partials/flash" if flash.present? %>
    <%= yield %>
    <%= render partial: "partials/footer" unless landingPage?  %>
  </body>
</html>
